html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-height: 550px) and (orientation: landscape) {
    .main-carousel-item-h {
        height: 120vh !important;
    }

    .container-mt {
        margin-top: 20vh !important;
    }

    .rounded-img-small {
        height: 100px !important;
        width: 100px !important;
    }

    .product-carousel-h {
        height: 60vh !important;
    }

    .btn-xs {
        font-size: 0.8em;
    }

    .main-carousel-item-h > img {
        margin-top: 24vh;
    }

    .main-carousel-item-h > div.rounded {
        margin-top: 30vh;
        width: 70vw;
        font-size: 0.6em;
        background: rgba(205, 214, 219, 0.7);
        padding: 0.7em !important;
    }

    .product-item {
        width: 50% !important;
        height: 90vh !important;
    }

    .product-img {
        width: 100% !important;
        height: 50% !important;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .main-carousel-item-h {
        height: 80vh !important;
    }

    .container-mt {
        margin-top: 12vh !important;
    }

    .rounded-img-small {
        height: 70px !important;
        width: 70px !important;
    }

    .btn-xs {
        font-size: 0.8em;
    }

    .main-carousel-item-h > img {
        margin-top: 20vh !important;
    }

    .main-carousel-item-h > div.rounded {
        margin-top: 11vh !important;
        width: 70vw !important;
        font-size: 0.6em;
        background: rgba(205, 214, 219, 0.7);
        padding: 0.7em !important;
    }

    .product-item {
        width: 100% !important;
        height: 45vh !important;
    }

    .product-img {
        width: 100% !important;
        height: 50% !important;
    }
}

@media screen and (max-width: 1350px) {
    .main-carousel-item-h {
        height: 100vh;
    }

    .container-mt {
        margin-top: 20vh;
    }

    .main-carousel-item-h > img {
        margin-top: 24vh !important;
    }

    .main-carousel-item-h > div.rounded {
        margin-top: 20vh;
        width: 60vw;
        background: rgba(205, 214, 219, 0.8);
        padding: 3em;
    }

    .product-item {
        width: 20vw;
        height: 35vh;
    }

    .product-img {
        width: 100%;
        height: 50%;
    }
}

@media screen and (min-width: 1350px) {
    .main-carousel-item-h {
        height: 100vh;
    }

    .container-mt {
        margin-top: 18vh;
    }

    .main-carousel-item-h > img {
        margin-top: 20vh;
    }

    .main-carousel-item-h > div.rounded {
        margin-top: 25vh;
        width: 60vw;
        background: rgba(205, 214, 219, 0.8);
        padding: 4em;
    }

    .product-item {
        width: 17vw;
        height: 35vh;
    }

    .product-img {
        width: 100%;
        height: 20vh;
    }
}

.badge-position {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}

#header {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

#header.default {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 1px 10px #bdbdbd;
    -moz-box-shadow: 0 1px 10px #bdbdbd;
    box-shadow: 0 1px 10px #bdbdbd;
}

.vertical-divider {
    font-size: 20px;
    font-weight: 100;
    color: #d0d0d0;
}

hr {
    margin: 0;
}

.border-dotted {
    border: 1px dashed #bdbdbd;
    padding: 0.5em;
    border-radius: 5px;
}

.border-dotted-1 {
    border: 2px dashed #bdbdbd;
    padding: 0.5em;
    border-radius: 10px;
}

.wrapper {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}
