@model OnlineStore.Website.ViewModels.ProductDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Resource.ProductCatalogTitle;
    ViewBag.Favicon = Url.Content("~/Content/Images/Website/product.png");
    ViewBag.PageKeywords = Model.Products.PageKeywords;
    ViewBag.PageDescription = Model.Products.PageDescription;
}

<div class="container container-mt rounded d-flex flex-column mb-3 bg-light">
    <div>
        <div>

        </div>
        <div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
    <div>

    </div>
</div>
