@{
    ViewBag.Title = "Venusflytrap.com - Carnivorous plants online store in Minsk!";
    ViewBag.Favicon = Url.Content("~/Content/Images/favicon.png");
}

<div>
    <h1>
        Index content.
    </h1>
</div>
