@{
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
    ViewBag.PageKeywords = Resources.Resource.ConfirmEmail;
    ViewBag.PageDescription = Resources.Resource.ConfirmEmail;
    ViewBag.Favicon = Url.Content("~/Content/Images/Website/emailConfirm.png");
    ViewBag.Title = Resources.Resource.ConfirmEmail;
}

<div class="container sign-in-form-mt p-2">
    <h2>@Resources.Resource.ConfirmEmail</h2>
    <p>@Resources.Resource.CheckYourEmail</p>
</div>
